.header {
    background: rgb(140, 203, 76);
    width: 100%;

    .logo{
        width: 400px;
        margin: 20px 0 0 20px;
    }

    .nav {
        display: flex;
        justify-content: center;

        a {
            margin: 0 3% 1%;
            font-size: 2rem;
            text-decoration: none;
            color: black;
            font-weight: 600;
            transition: .5s all;

            &:hover {
                background: black;
                color: white;
                transition: 1s all;
                padding: 5px 10px;
                border-radius: 5px;
            }
        }
    }
}